/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr, td {
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.board {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 100%;
}

#logo {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    border-bottom: 1px solid black;
}

/*Cells and rows*/

.first-cell:nth-of-type(even) {
    background-color: #DFD7C8;
}

.first-cell:nth-of-type(odd) {
    background-color: #674736;
}

.second-cell:nth-of-type(odd){
    background-color: #DFD7C8;
}

.second-cell:nth-of-type(even){
    background-color: #674736;
}

.third-cell:nth-of-type(even){
    background-color: #DFD7C8;
}

.third-cell:nth-of-type(odd){
    background-color: #674736;
}

.fourth-cell:nth-of-type(even){
    background-color: #674736;
}

.fourth-cell:nth-of-type(odd){
    background-color: #DFD7C8;
}

.fifth-cell:nth-of-type(odd){
    background-color: #674736;
}

.fifth-cell:nth-of-type(even){
    background-color: #DFD7C8;
}

.sixth-cell:nth-of-type(odd){
    background-color: #DFD7C8;
}

.sixth-cell:nth-of-type(even){
    background-color: #674736;
}

.seventh-cell:nth-of-type(odd){
    background-color: #674736;
}

.seventh-cell:nth-of-type(even){
    background-color: #DFD7C8;
}

.eighth-cell:nth-of-type(odd){
    background-color: #DFD7C8;
}

.eighth-cell:nth-of-type(even){
    background-color: #674736;
}

/* Checker Pieces */

.red-piece {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

.black-piece {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

.black {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}

.red {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}

#currentTurn {
    font-size: 20px;
}
